:root {
/* Fonts */
--main-font: "Roboto", sans-serif;
--secondary-font: "Raleway", sans-serif;
    
    
/* Text colors */
--main-txt-cl: #757575;
--main-title-cl: #212121;
--light-txt-cl: #ffffff99;
--accent-txt-cl: #2196F3;
--hero-txt-cl: #ffffff;
    
    
/* Background colors */
--main-bg-cl: #2F303A;
--accent-bg-cl: #2196F3;
--light-bg-cl: #F5F4FA;
--card-bg-cl: #ffffff;

/* Other */

}

.page {
font-family: var(--main-font);
color: var(--main-txt-cl);
font-size: 14px;
line-height: calc(24 / 14);
letter-spacing: 0.03em;
text-decoration: none;
}

<!--шапка сторінки-->
.header  {
width: 281px;
height: 16px;
left: 453px;
top: 32px;
}
.main-nav {
font-weight: 500;
font-size: 14px;
line-height: calc(16 / 14);
letter-spacing: 0.02em;
color: var(--main-title-cl);
}

.logo {
font-family: 'Raleway',sans-serif;
width: 145px;
height: 31px;
left: 215px;
top: 24px;
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 31px;
letter-spacing: 0.03em;
color: var(--main-title-cl)
}
.logo-span {
text-decoration: none;
color: var(--accent-txt-cl);
}
.link {
text-decoration: none;
}

<!-- верхнє меню-->
.list {
background-color: var(--light-bg-cl);
list-style-type: none;
position: absolute;
width: 281px;
height: 16px;
left: 453px;
top: 32px;
}
.list-item {
list-style-type: none;
font-weight: 500;
}
.links {
list-style-type: none;
text-decoration: none;
color: currentColor;
}
.list-item-link {
font-family: 'Roboto';
text-decoration: none;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;
color: var(--main-title-cl);
}
.list-item-link-p {
color: var(--accent-txt-cl);
text-decoration: none;
}
.mail {
list-style-type: none;
text-decoration: none;
color: currentColor;
font-weight: 500; 
}
.tel {
list-style-type: none;
text-decoration: none;
font-weight: 500;
color: var(--main-txt-cl);
transform: rotate(-1.42deg);
}
.current {
color: var(--accent-txt-cl);
}

<!-- замовити послугу-->
.hero {
background-color: var(--main-bg-cl);
color: var(--hero-txt-cl)
width: 1600px;
height: 600px;
left: 0px;
top: 80px;
}
.main-title{
position: absolute;
width: 696px;
height: 120px;
left: 452px;
top: 280px;
font-weight: 900;
font-size: 44px;
line-height: 60px;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: var(--main-title-cl);
cursor: pointer;
}
.btn {
position: absolute;
background-color: var(--accent-bg-cl);
color: var(--hero-txt-cl);
font-family: inherit;
font-weight: 700;
font-size: 16px;
line-height: calc(30 / 16);
letter-spacing: 0.06em;
width: 216px;
height: 50px;
left: 692px;
top: 430px;
border: 0;
padding: 0;
}
.btn:hover,
.btn:focus {
background-color: #188CE8;
}

<!-- плюси-->
.benefits {
width: 1170px;
height: 98px;
left: 215px;
top: 774px;
}
.hidden-elements {
position: absolute;
width: 1px;
height: 1px;
margin: -1px;
border: 0;
padding: 0;
white-space: nowrap;
clip-path: inset(100%);
clip: rect(0 0 0 0);
overflow: hidden;
}

.list
.list-item {
list-style-type: none;
}
.benefits-title {
color: var(--main-title-cl);
}
.text
<!-- чим ми займаємося-->
.work {
font-weight: 700;
font-size: 36px;
line-height: calc(42 / 36);
text-align: center;
letter-spacing: 0.03em;
color: var(--main-title-cl)
}
.work-title {
color: var(--main-title-cl);
}
.list
.list-item
<!--наша команда-->
.team {
background-color: var(--light-bg-cl)
}
.team-title {
font-weight: 500;
color: var(--main-title-cl);
}
.list
.list-item {
box-shadow: 
border-radius:
background-color: var(--card-bg-cl);    
}
.name {
color: var(--main-title-cl);
}
.specialty {
color: var(--main-txt-cl);
}
<!--footer-->
.footer {
background-color: var(--main-bg-cl);
}
.logo {
color: var(--main-title-cl)
}
.logo-span {
color: var(--accent-txt-cl);
}
.address {
font-style: normal;    
}
.list {
list-style-type: none;
text-decoration: none;
font-weight: 500;
color: var(--main-txt-cl);
}
.address-map {
    color: var(--hero-txt-cl);
}
.mail{

}
.tel

/* Портфоліо*/

.portfolio-title {
text-decoration: none;
font-weight: 700;
font-size: 18px;
line-height: calc(36 / 18);
letter-spacing: 0.06em;
color: var(--main-title-cl);
}
.portfolio-card-txt {
text-decoration: none;
font-size: 16px;
}
.portolio-btn {
text-decoration: none;
font-family: inherit;
font-weight: 500;
font-size: 16px;
line-height: calc(26 / 16);
text-align: center;
letter-spacing: 0.03em;
color: var(--main-title-cl);
cursor: pointer;
}
.portolio-nav-btn:hover,
.portolio-nav-btn:focus {
color: var(--hero-txt-cl);
background-color: var(--accent-bg-cl);
}
.link {
text-decoration: none;
color: currentColor;   
}
.portfolio-title {
text-decoration: none;
color: currentColor;
}
